SPRING_PROFILES_ACTIVE=dev

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:54320/gzac
SPRING_DATASOURCE_NAME=gzac
SPRING_DATASOURCE_USERNAME=gzac
SPRING_DATASOURCE_PASSWORD=password

SPRING-ACTUATOR_PASSWORD=password

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI=http://localhost:8081/auth/realms/valtimo/protocol/openid-connect/certs
SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAKAPI_ISSUER-URI=http://localhost:8081/auth/realms/valtimo
SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAKJWT_ISSUER-URI=http://localhost:8081/auth/realms/valtimo
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAKJWT_CLIENT-ID=valtimo-console
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAKAPI_CLIENT-ID=valtimo-user-m2m-client
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAKAPI_CLIENT-SECRET=6ef6ca16-6b86-482a-a3d9-0561704c1db9

OPERATON_BPM_ADMIN-USER_PASSWORD=password

VALTIMO_PLUGIN_ENCRYPTION-SECRET=abcdefghijklmnop
